@import url(http://fonts.googleapis.com/css?family=Yellowtail);
@import url(http://fonts.googleapis.com/css?family=Leckerli+One);

/*.bumpDown {
	position: absolute;
	top: 43;
}*/

#spells {
	font-family: 'Yellowtail', cursive;
}

.stats {
	font-family: 'Leckerli One', cursive;
}

img.clericimg {
	/*border: 10px solid #355535;*/
	height: 300px;
}

input.cleric {
	width: 250px;
}

.panel {
	background-color: transparent;
}

.panel-primary > .panel-body {
	background-color: rgba(77,77,100,.5);
}

img.skeleton {
	width: 128px;
	height: 300px;
}

div.cleric {
	text-align: right;
}

p.backstory {
	text-indent: 2.0em;
}
