<div class="row">
	<div class="col-lg-4 col-lg-offset-1">
		<div class="panel panel-primary">
			<div id="clericHeading" class="panel-heading">
				My Cleric: {{ cleric.name }}<br>
				Turn Attempt
			</div>
			<div class="panel-body">
				<div class="form-group">
					<input id="clericLevel" class="form-control" type="number" placeholder="Cleric Level" ng-model="cleric.level">
				</div>
				<div class="form-group">
					<input id="cha" class="form-control" type="number" placeholder="Charisma score" ng-model="cleric.charisma">
				</div>
				<div class="form-group">
					<input id="roll" class="form-control" type="number" placeholder="Check Roll" ng-model="roll">
				</div>
				<div class="checkbox">
					<label>
						<input ng-model="religion" type="checkbox">check if religion skill > 4
					</label>
				</div>
				<button id="submit" class="btn btn-success btn-block" ng-click="calculate()">Submit</button>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-lg-offset-2">
		<img ng-click="change()" ng-src="{{ img }}">
	</div>
</div>

<div class="row" ng-show="result">
	<div class="col-lg-4 col-lg-offset-1">
		<p>
			<strong>Max HD Affected: </strong>
			<span id="maxHD">{{ maxHd }}</span>
		</p>
		<p>
			<strong>Total Turn Damage:</strong>
			<span id="turnDamage">{{ dmgRoll }}</span>
		</p>
		<p>
			<strong>Damage Remaining:</strong>
			<span id="turnDamageLeft">{{ dmgLeft }}</span>
		</p>
		<div class="form-group">
			<input id="creatureHD" class="form-control" type="number" placeholder="Creature HD" ng-model="creatureHD">
		</div>
		<button id="decriment" class="btn btn-danger btn-block" ng-click="updateDmgLeft(creatureHD)">subtract</button>
	</div>
</div>
